/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

a {
    text-decoration: none;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 150px 0 100px 0;
}

@media only screen and (min-width: 768px){
    h1 {
        font-size: 6em;
        margin: 2em 1rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    padding-top: 3em;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.nav__container { 
    width: 100%;
}

.navbar__menu {
    display: grid;
    grid-template-columns:  0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;

}

.navbar__menu ul {
    margin: 0;
    text-align: right;
    padding-left: 0px;
}

.navbar__menu li {
    display: inline-block;
    padding: 10px 15px;
}

.menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    color: #fff;
}

.navbar__menu .menu__link:hover {
    color: rgb(78, 136, 221);
    transition: all 0.5s ease; 

}

#navbar__logo{ 
    cursor: pointer;
    font-size: x-large;
    
}
#navbar__logo:hover{ 
    color: rgb(78, 136, 221);  
}



/* Mobile menu */

.menu__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

@media screen and (max-width: 768px){
    .nav__container {
        position: relative;
    }

    #navbar__list {
        display: grid;
        grid-template-columns: auto;
        background:rgb(0, 0, 0);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease; 
    }

    #navbar__list.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav__item {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .navbar__menu {
        width: 100%;
    }

    .navbar__menu li:hover {
        background: lightslategrey;
    }


    #navbar__logo {
        margin-left: 20px;
    }

    #mobile__menu { 
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu__toggle:hover {
        cursor: pointer;
    }

    #mobile__menu.is__active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is__active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); 
    }

    #mobile__menu.is__active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); 
    }

}


/* Header Styles */
.page__header {
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */

@media only screen and (min-width: 768px){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

/* Section Active Styles on wider screens */
@media only screen and (min-width: 768px) {
    section.active__class{
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .section-highlight {
        background-color: #888888;
        border: 1px solid black;
        border-radius: 4px;
    }
}